<html>
    <head><title>Anaconda Insurance</title></head>
    <body>
        <center>
            <h1>Anaconda Insurance Services</h1></center>
            <div style="background-color: antiquewhite; height: 40px; padding-top: 20px;">
                
            <a href="/" style="padding-left: 6cm; padding-top: 30px;">Home</a>
            <a href="./premium" style="padding-left: 6cm;">Premium</a>
            <a href="./services" style="padding-left: 6cm;">Services</a>
            <a href="./plans" style="padding-left: 6cm;">Plans</a>
            <a href="./contact" style="padding-left: 6cm; padding-top: 30px;">Contact Us</a>
            </div><br>
        <div style="background-color: darkgrey;">
        <center>
            <img src="..\static\5-must-have-insurance-policies.jpg" style="height: 10cm; width: 10cm; padding: 60px;">
            <img src="..\static\download.png" style="height: 10cm; width: 10cm; padding: 60px;">
            <img src="..\static\what-are-family-health-insurance-plans.jpg" style="height: 10cm; width: 10cm; padding: 60px;">
        </center>
        </div>
    </body>
</html>
