<html>
    <head><title>Anaconda Insurance</title></head>
    <body>
        <center>
            <h1>Anaconda Insurance Services</h1>
            Fill foll details to find premium<br><br>
            <div style="background-color: antiquewhite;
            margin: 20px; padding: 20px;">
            <form action="./submit" method="GET">
            <input type="text" name="age" id="age" placeholder="Age"
                style="border-radius: 14px; height: 32px; text-align: center; text-size-adjust: 20%;"><br><br>

            <!-- <input type="text" name="sex" id="sex" placeholder="Sex"
            style="border-radius: 14px; height: 32px; text-align: center; text-size-adjust: 20%;"><br><br> -->

            <input type="text" name="bmi" id="bmi" placeholder="BMI"
            style="border-radius: 14px; height: 32px; text-align: center; text-size-adjust: 20%;"><br><br>

            <input type="text" name="children" id="children" placeholder="Children"
            style="border-radius: 14px; height: 32px; text-align: center; text-size-adjust: 20%;"><br><br>

            <label for="sex">Sex: </label><br>
            <select name="sex" id="sex" style="border-radius: 14px; width: 170px; height: 32px; text-align: center; text-size-adjust: 20%;">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select><br><br>
            
            <!-- <input type="text" name="smoker" id="smoker" placeholder="Smoker"
            style="border-radius: 14px; height: 32px; text-align: center; text-size-adjust: 20%;"><br><br> -->
            <label for="smoker">Smoker: </label><br>
            <select name="smoker" id="smoker" style="border-radius: 14px; width: 170px; height: 32px; text-align: center; text-size-adjust: 20%;">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select><br><br>

            <!-- <input type="text" name="region" id="region" placeholder="Region"
            style="border-radius: 14px; height: 32px; text-align: center; text-size-adjust: 20%;"><br><br> -->
            <label for="region">Region: </label><br>
            <select name="region" id="region" aria-placeholder="region" style="border-radius: 14px; width: 170px; height: 32px; text-align: center; text-size-adjust: 20%;">
                <option value="northeast">northeast</option>
                <option value="northwest">northwest</option>
                <option value="southeast">southeast</option>
                <option value="southwest">southwest</option>
            </select><br><br>

            <input type="submit" value="Submit" style="border-radius: 14px; width: 90px; height: 32px; text-align: center; text-size-adjust: 20%;">
            </form>

            <!-- <label for="name">Region: </label>
            <input type="text" name="region" placeholder="Region"><br><br>
            <label for="age">Age: </label>
            <input type="text" name="age" placeholder="Age"><br><br>
            <label for="bmi">BMI: </label>
            <input type="text" name="bmi" placeholder="BMI"><br><br>
             -->
            </div>
        </center>
    </body>
</html>